{% extends 'base.html.twig' %}

{% block title %}Autor{% endblock %}

{% block body %}
    <h1>Autor</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ autor.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ autor.nombre }}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{ autor.apellidos }}</td>
            </tr>
            <tr>
                <th>FechaNacimiento</th>
                <td>{{ autor.fechaNacimiento ? autor.fechaNacimiento|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('autor_index') }}">back to list</a>

    <a href="{{ path('autor_edit', {'id': autor.id}) }}">edit</a>

    {{ include('autor/_delete_form.html.twig') }}
{% endblock %}
