{{ form_start(form) }}
    {{ form_widget(form) }}
        {% if libro.brochureFilename %}
            <a href="{{ asset('uploads/brochures/' ~ libro.brochureFilename) }}">View brochure (PDF)</a>
        {% endif %}
        <button class="btn">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}
